{% load sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="//www.google.com/jsapi"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.charts.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
    wok.pollster.charts.init(function() {
        $(function() {
            wok.pollster.charts.createCharts('.survey-chart .chart');
        });
    });
</script>
{% endaddtoblock %}

<div class="survey-chart">
    <ul>
    <li>Name: {{ chart.name }}</li>
    <li>Shortname: {{ chart.shortname }}</li>
    <li>chartwrapper: {{ chart.chartwrapper }}</li>
    <li>sqlsource: {{ chart.sqlsource }}</li>
    <li>sqlfilter: {{ chart.sqlfilter }}</li>
    </ul>
</div>
