
{% block content %}
<h2>{{ survey }}</h2>

    Shortname: {{ survey.shortname }}<br>
    Version: {{ survey.version }}<br>
    Created : {{ survey.created|date:"d-m-y H:i:s" }}<br>
    Updated : {{ survey.updated|date:"d-m-y H:i:s" }}<br>
    <br>

    {% for question in survey.question_set.all %}
        Question: {{ question.id }} {{ question.title|default:'' }}<br>
        <!--
        <li>
            <ul> Name : {{ question.data_name|default:'' }} </ul>
            <ul> Description : {{ question.description|default:'' }}</ul>
            <ul> Type: {{ question.type }}</ul>
            <ul> Data Type : {{ question.data_type.js_class }}</ul>
        </li>
        -->
        <ul>
        {% for column in question.columns %}
            <li>{{ column.title }}</li>
        {% endfor %}
        </ul>
        <ul>
        {% for row in question.rows %}
            <li>{{ row.id }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

